.table_header {
  background-color: #f4f2ff;
  font-weight: 600;
  color: var(--text_color);
  padding: 10px 0 !important;
}
.data__primary_text_email {
  color: #6e6893;
}
.table__wrapper {
  margin: 10px 0;
}
