.tasks_search_wrapper {
  width: 50%;
  margin-bottom: 10px;
}
.search_input_field {
  background-color: #f5dbff;
  border-radius: 12px;
  user-select: none;
  align-items: center;
}
.search_input_field:focus {
  border-color: #f5dbff;
  outline-color: none;
}
