.activities_table_wrapper {
  background-color: #ffffff;
}
.table_header {
  background-color: var(--table_head_bg_color);
  font-weight: 700;
  color: var(--text_color);
}
.table_header th {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.activities_table_wrapper Tbody td {
  border-color: #ff00d6 !important;
}

.data__primary_text {
  color: var(--text_color);
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 4px;
}
.data__secondary_text {
  color: var(--secondary_text_color);
}
