.table_header {
  background-color: var(--table_head_bg_color);
  margin-top: 10px;
}
.table_header tr th {
  padding: 10px;
  font-weight: 700;
  color: #000000;
  white-space: nowrap;
  text-transform: uppercase;
}

.table {
  width: 100%;
  background-color: #fff;
  border-radius: 14px;
  padding-bottom: 10px;
  margin: 20px 0;
  overflow-x: auto;
}
.table_actions_icon_wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.table_header tr th:last-of-type {
  text-align: center;
}
