:root {
  --font-size-reset: 62.5%;
  --default-font-size: 1.6rem;
  --default-font-family: "Open Sans", sans-serif;
  --default-font-weight: 400;
  --default-line-height: 1.5;
  --primary-color: #562b85;
  --primary-color-light: #f5dbff;
  --color-gray: #6d6c6c;
  --white: #fff;
  --black: #000;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: var(--font-size-reset);
  box-sizing: border-box;
}
body {
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
}
