.approvals_table_wrapper {
  background-color: #ffffff;
  border-radius: 10px;
}
.table_header {
  background-color: var(--table_head_bg_color);
  font-weight: 700;
  color: #000000;
}
.table_header th {
  font-size: 15px;
  white-space: nowrap;
  font-weight: 700;
  padding: 20px 10px !important;
}
.approvals_table_wrapper td {
  font-weight: 600;
}

.primary_text_icon {
  display: flex;
  align-items: center;
}
.primary_text_icon svg {
  margin-right: 5px;
}
