.backgroundImage {
  background-image: linear-gradient(
      to left,
      rgba(46, 16, 110, 100%),
      rgba(183, 148, 244, 10%)
    ),
    url("/images/IMG_0282-min.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150vh;
  position: relative;
}

.formBackground {
  background-color: #fff;
  position: absolute;
  top: 5rem;
  right: 5rem;
  border-radius: 2rem;
  width: 32rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.formHeaderBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
